<!-- testFilter.html.twig -->
{# <form method="get" action="{{ path('post_search') }}">#}
{#     {{ form_rest(form) }}#}
{#     <input type="submit" name="submit-filter" value="filter" />#}
{# </form>#}

<table>
    {% for post in posts %}
    <tr>
        <td>{{ post.title }}</td>
    </tr>
    {% else %}
    <tr>
        <td>Not found</td>
    </tr>
    {% endfor %}
 </table>
 
 
  {{ render(controller('AcmeSearchBundle:Post:pagination', { 'page': (page is defined)? page : '1' })) }}